.skills {
    width: 100%;
    height: auto;
    font-family: 'Futura', sans-serif;
    background-color: #d0ccc7;
}

.mainContent {
    padding-top: 30px;
    font-size: 28px;
    font-family: 'Futura', sans-serif;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px; 
    line-height: 1.6;
    font-family: 'Futura', sans-serif;
    margin-top: 22px;
    font-size: 25px !important;
}

.header,
.headerTwo {
    margin: 0;
    font-size: 28px;
    display: flex;
    width: fit-content;
}

.header {
    font-size: 28px;
    color: white;
    width: fit-content;
    font-family: 'Futura', sans-serif;


}

.headerTwo {
    background-color: rgb(245, 241, 227);
    font-size: 28px;
    text-align: left;
    font-weight: 200;
    width: 100%;
    display: flex;
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;

}


.twoParts {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    font-size: 22px;
    height: 100%;
    margin-top: 50px;
}

.leftPatrt,
.rightPart {
    height: auto;
    flex: 1;
}

.leftPatrt {
    text-align: left;
    font-size: 22px;
    line-height: 1.6;
    justify-content: left;
    margin: 0;
    height: 300px;
}

.rightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
    height: 160px;
}

.endP {
    font-size: 17px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(190, 184, 184, 0.5);
    margin-top: 50px;
}

@media (max-width: 768px) {
    .headers {
        font-size: 27px;
    }

    .header,
    .headerTwo {
        font-size: 28px;
        text-align: start;

    }

    .twoParts {
        flex-direction: column;
        align-items: center;
    }

    .leftPatrt,
    .rightPart {
        width: 100%;
        margin-bottom: 20px;

    }

    .rightPart {
        display: flex;
        margin-right: 7%;
}
}
/* For mobile screens */
@media (max-width: 480px) {
    .headers {
        font-size: 20px;
    }

    .header,
    .headerTwo {
        font-size: 18px;
    }

    .twoParts {
        font-size: 18px;
        margin-top: 30px;
    }

    .rightPart {
        gap: 5px;

    }
}