.navBar {}

.label {}

.navLink {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, font-weight 0.3s ease;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(190, 184, 184, 0.5);
}

.navLink:hover {
    color: white;
}

.active {
    color: white;
    font-weight: bold;
}

.label {
    cursor: pointer;
}

@media (max-width: 768px) {

    .navLink {
        display: flex;
        flex-direction: column;
        font-size: 15px; 
    }

    .label {
        font-size: 15px; 
}
}

@media (max-width: 468px) {
    .navLink {
        flex-direction: column;
        font-size: 13px; 
    }

    .label {
        font-size: 12px; 
    }
}