.contact {
    width: 100%;
    font-family: 'Futura', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:#d0ccc7;
}

.mainContent {
    padding-top: 30px;

}

.h {
    display: flex;
    font-size: 28px !important;
    color: white;
    margin-top: 33px;
}

.p {
    display: flex;
    font-size: 27px;
    background-color: rgb(245, 241, 227);
    width: fit-content;
}

.hr {
    margin-top: 90px;
    color: white;
    border-top: 1px solid white;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 5px;
    height: 160px;
    margin-bottom: 50px;
    font-weight: 530;
    font-size: 18px;
}



.headline {
    display: flex;
    /* width: 140px; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(245, 241, 227);
    margin-right: 7px;

}

@media screen and (max-width: 768px) {
    .contact {
        padding: 10px;
    }

    .h {
        font-size: 22px;
    }

    .p {
        font-size: 18px;
    }

    .hr {
        margin-top: 70px;
        border-top: 2px solid white;
    }

    .contactinfo {
        margin-top: 40px;
        padding-top: 10px;
    }

    .dot {
        width: 12px;
        height: 12px;
    }
}

/* Mobile screens (480px and below) */
@media screen and (max-width: 480px) {
    .contact {
        padding: 10px;
    }

    .h {
        font-size: 16px;
    }

    .p {
        font-size: 14px;
    }

    .hr {
        margin-top: 40px;
        border-top: 3px solid white;
    }

    .contactinfo {
        margin-top: 20px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }
}